@CHARSET "UTF-8";

body {
	background-image:url(/CubeApiStore/img/rubicApiPage.jpg);
	background:yellow;
	background-repeat: no-repeat;
	background-size:100%;
}
#backgro {
	
	position:relative;
}
header {
	text-align:center;
	margin:15% auto 0;
	font: 25px STLiti,Tahoma,Helvetica,Arial,'宋体',sans-serif;
	
}
#navlist {
	font: 25px STLiti ;
	text-align:center;
	margin-top:10%;
}
#navlist li {
	display:inline;
	margin:0 10%;
}
a {
	text-decoration:none;
	color:black;
}
a:hover {
	text-decoration:underline;
}